In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from cunfig import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Asau,RO,2021-02-03 22:46:32,46.4333,26.4000,39.00,100,90,11.50
1,1,Santarem,BR,2021-02-03 22:46:32,-2.4431,-54.7083,84.20,74,20,4.61
2,2,Beringovskiy,RU,2021-02-03 22:46:32,63.0500,179.3167,4.55,93,100,15.84
3,3,Tolaga Bay,NZ,2021-02-03 22:46:32,-38.3667,178.3000,65.61,63,64,14.63
4,4,Fortuna,US,2021-02-03 22:42:00,40.5982,-124.1573,53.01,57,20,10.36

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#asking the customer for their desired temperature
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Santarem,BR,2021-02-03 22:46:32,-2.4431,-54.7083,84.20,74,20,4.61
6,6,Pemangkat,ID,2021-02-03 22:44:05,1.1667,108.9667,76.62,87,62,6.82
8,8,Gamba,GA,2021-02-03 22:46:33,-2.6500,10.0000,79.07,88,100,4.65
17,17,Honiara,SB,2021-02-03 22:46:34,-9.4333,159.9500,76.10,90,100,2.39
26,26,Rikitea,PF,2021-02-03 22:46:35,-23.1203,-134.9692,78.33,70,0,12.91
29,29,San Policarpo,PH,2021-02-03 22:46:35,12.1791,125.5072,80.19,82,7,16.40
31,31,Bambous Virieux,MU,2021-02-03 22:46:36,-20.3428,57.7575,75.20,88,75,5.75
32,32,Coihaique,CL,2021-02-03 22:42:17,-45.5752,-72.0662,86.00,35,0,11.50
38,38,Bengkulu,ID,2021-02-03 22:46:37,-3.8004,102.2655,75.97,85,100,5.32
40,40,Galesong,ID,2021-02-03 22:46:37,-5.3166,119.3661,75.20,100,75,3.44

In [11]:
preferred_cities_df.count()

City_ID       127
City          127
Country       126
Date          127
Lat           127
Lng           127
Max Temp      127
Humidity      127
Cloudiness    127
Wind Speed    127
dtype: int64

In [12]:
preferred_cities_df = preferred_cities_df.dropna()

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1          Santarem      BR     84.20  -2.4431  -54.7083
6         Pemangkat      ID     76.62   1.1667  108.9667
8             Gamba      GA     79.07  -2.6500   10.0000
17          Honiara      SB     76.10  -9.4333  159.9500
26          Rikitea      PF     78.33 -23.1203 -134.9692
29    San Policarpo      PH     80.19  12.1791  125.5072
31  Bambous Virieux      MU     75.20 -20.3428   57.7575
32        Coihaique      CL     86.00 -45.5752  -72.0662
38         Bengkulu      ID     75.97  -3.8004  102.2655
40         Galesong      ID     75.20  -5.3166  119.3661

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [23]:
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng         Hotel Name
1          Santarem      BR     84.20  -2.4431  -54.7083    Hotel Imperador
6         Pemangkat      ID     76.62   1.1667  108.9667  Kost H.Syamsuddin
8             Gamba      GA     79.07  -2.6500   10.0000
17          Honiara      SB     76.10  -9.4333  159.9500
26          Rikitea      PF     78.33 -23.1203 -134.9692
29    San Policarpo      PH     80.19  12.1791  125.5072
31  Bambous Virieux      MU     75.20 -20.3428   57.7575
32        Coihaique      CL     86.00 -45.5752  -72.0662
38         Bengkulu      ID     75.97  -3.8004  102.2655
40         Galesong      ID     75.20  -5.3166  119.3661

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))