## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from cunfig import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,225,Rikitea,PF,78.21,overcast clouds,-23.1203,-134.9692,Pension Maro'i
1,227,Hithadhoo,MV,82.60,broken clouds,-0.6000,73.0833,Scoop Guest House
2,243,Cayenne,GF,84.20,overcast clouds,4.9333,-52.3333,Hôtel Le Dronmi
3,248,Sabang,ID,81.43,clear sky,5.8933,95.3214,Hotel Citra
4,251,Vaini,TO,77.00,light rain,-21.2000,-175.2000,Keleti Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"]=="Salinas Park Resort Maçarico AP101"]
vacation_end = vacation_df.loc[vacation_df["Hotel Name"]=="Salinas Park Resort Maçarico AP101"]
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"]=="Hotel Pigalle"]
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"]=="Pousada e churrascaria Manguaba"]
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"]=="Pousada dos Navegantes"]

In [6]:
Vacation_start = vacation_start.drop([92])
Vacation_end = vacation_end.drop([92])

In [7]:
Vacation_stop2 = vacation_stop2.drop([99])
Vacation_stop3 = vacation_stop3.drop([64])

In [8]:
Vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
36,350,Salinopolis,BR,85.6,broken clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = Vacation_start['Lat'].to_numpy()[0],Vacation_start['Lng'].to_numpy()[0]
end = Vacation_start['Lat'].to_numpy()[0],Vacation_start['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop2 = Vacation_stop2['Lat'].to_numpy()[0],Vacation_stop2['Lng'].to_numpy()[0]
stop3 = Vacation_stop3['Lat'].to_numpy()[0],Vacation_stop3['Lng'].to_numpy()[0]

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([Vacation_start,vacation_stop1,Vacation_stop2,Vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,350,Salinopolis,BR,85.6,broken clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
1,378,Cabedelo,BR,87.8,scattered clouds,-6.9811,-34.8339,Hotel Pigalle
2,600,Cabedelo,BR,87.8,scattered clouds,-6.9811,-34.8339,Hotel Pigalle
3,374,Pilar,BR,89.6,scattered clouds,-9.5972,-35.9567,Pousada e churrascaria Manguaba
4,258,Caravelas,BR,86.2,clear sky,-17.7125,-39.2481,Pousada dos Navegantes

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))